%h2 New Message
= simple_form_for @message do |f|
  .row
    .large-12.columns
      = f.input :title, as: :string
  .row
    .large-12.columns
      = f.input :body, as: :string
  .row
    .large-12.columns
      = label_tag 'email'
      = text_field_tag 'email'
  .row
    .large-12.columns
      = f.submit class: 'button'
